<!-- wp:template-part {"slug":"header","theme":"coffee-block","tagName":"header"} /-->

<!-- wp:pattern {"slug":"coffee-block/coffee-block-with-heading-title"} /-->
<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","right":"15px","bottom":"80px","left":"15px"}}},"className":"coffee-block-section10","layout":{"type":"constrained"}} -->
<div class="wp-block-group coffee-block-section10" style="padding-top:80px;padding-right:15px;padding-bottom:80px;padding-left:15px"><!-- wp:group {"className":"coffee-block-section8-product-box","layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group coffee-block-section8-product-box"><!-- wp:query {"queryId":6,"query":{"perPage":9,"pages":0,"offset":0,"postType":"product","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"__woocommerceAttributes":[],"__woocommerceStockStatus":["instock","outofstock","onbackorder"],"taxQuery":{"product_cat":[17]}},"displayLayout":{"type":"flex","columns":4},"namespace":"woocommerce/product-query","layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"__woocommerceNamespace":"woocommerce/product-query/product-template"} -->
<!-- wp:group {"style":{"border":{"color":"#4c403d","width":"1px","radius":"15px"},"spacing":{"padding":{"top":"50px","right":"25px","bottom":"40px","left":"25px"}}},"className":"coffee-block-product-box","layout":{"type":"constrained"}} -->
<div class="wp-block-group coffee-block-product-box has-border-color" style="border-color:#4c403d;border-width:1px;border-radius:15px;padding-top:50px;padding-right:25px;padding-bottom:40px;padding-left:25px"><!-- wp:woocommerce/product-image {"saleBadgeAlign":"center","isDescendentOfQueryLoop":true} /-->

<!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"style":{"typography":{"fontSize":"24px","fontStyle":"normal","fontWeight":"500"},"spacing":{"padding":{"top":"20px","bottom":"10px"}}},"__woocommerceNamespace":"woocommerce/product-query/product-title"} /-->

<!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center"} /-->

<!-- wp:spacer {"height":"15px"} -->
<div style="height:15px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:woocommerce/product-button {"isDescendentOfQueryLoop":true,"textAlign":"center"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
</main><!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"coffee-block","tagName":"footer"} /-->