<!-- wp:template-part {"slug":"header","theme":"coffee-block","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"coffee-block/coffee-block-hero-banner"} /-->

<!-- wp:pattern {"slug":"coffee-block/coffee-block-section1"} /-->

<!-- wp:pattern {"slug":"coffee-block/coffee-block-section2"} /-->

<!-- wp:pattern {"slug":"coffee-block/coffee-block-section3"} /-->

<!-- wp:pattern {"slug":"coffee-block/coffee-block-section4"} /-->

<!-- wp:pattern {"slug":"coffee-block/coffee-block-section11"} /-->

<!-- wp:pattern {"slug":"coffee-block/coffee-block-section12"} /-->

</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"coffee-block","tagName":"footer"} /-->