<!-- wp:template-part {"slug":"header","theme":"coffee-block","tagName":"header"} /-->

<!-- wp:pattern {"slug":"coffee-block/coffee-block-with-post-title"} /-->
<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","right":"15px","bottom":"80px","left":"15px"}},"color":{"text":"#292929"}},"layout":{"inherit":true,"type":"constrained","contentSize":"1200px"},"fontSize":"large"} -->
<div class="wp-block-group has-text-color has-large-font-size" style="color:#292929;padding-top:80px;padding-right:15px;padding-bottom:80px;padding-left:15px"><!-- wp:woocommerce/legacy-template {"template":"single-product"} /--></div>
<!-- /wp:group -->
</main><!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"coffee-block","tagName":"footer"} /-->